body {
  background-image: url(img/world-cup-qatar-2022-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#head-container {
  background-image: url(img/qatar-background.jpg);
}

.cards {
  width: 150px;
  height: 190px;
  border-color: gold;
}

.world-cup-trophy {
  height: 75px;
  width: 75px;
}

strong {
  color: gold;
  font-family: Verdana, sans-serif;
}

#table div div {
  margin-bottom: 5px;
  position: relative;
}

#table img {
  transform: rotateY(180deg);
  transition: 1s;
}

#table img + img {
  transform: rotateY(180deg);
  transition: 1s;
  position: absolute;
  backface-visibility: hidden;
  left: 88px;
  top: 0px;
}

#table div div:hover img {
  transform: rotateY(0deg);
}

.hidden {
  display: none;
}
