body {
  background-image: url(img/world-cup-qatar-2022-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#head-container {
  background-image: url(img/qatar-background.jpg);
}

.cards {
  width: 150px;
  height: 190px;
  border-color: gold;
}

.world-cup-trophy {
  height: 75px;
  width: 75px;
}

strong {
  color: gold;
  font-family: Verdana, sans-serif;
}
